h1 {
    font-weight: bold;
}

.header-info {
    font-weight: normal;
    font-size: 2rem;
}

@media only screen and (max-width: 767px) {
    h1 {
        font-size: 2rem;
    }
    .header-info {
        font-size: 1.5rem;
    }
}
